@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #6d84fe;
  --color-secondary: #fdf9b4;
  --text-color-primary: #2d2727;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-primary {
  color: var(--text-color-primary);
}


body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}